.about_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.dark_img {
    background-color: #f5f5f5;
    position: absolute;
    top: -20%;
    right: -12%;
    bottom: 0;
    width: 40%;
    height: 100%;
    z-index: -1;
}

.hl {
    width: 30%;
    height: 5px;
    background-color: #f5b316;
    margin: 20px 0;
}

.tab_block>p {
    color: #707070;
}

.tab_block {
    margin: 0 0 8%;
    line-height: 1.5;
}

.tab_block>ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
}

.tab_block>ul>li {
    width: 30%;
    border-bottom: 3px solid transparent;
    text-align: center;
    padding: 20px 0;
}

.tab_block>ul>li:hover {
    border-bottom-color: #f5b316;
}

.tab_block>ul a {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.about_img {
    background-image: url('../../images/bgs/about.jpg');
    height: 400px;
    width: 70%;
    position: relative;
    right: -12%;
}

.about_btns {
    display: flex;
    justify-content: space-between;
}

.service_elem {
    width: calc(100% / 3 - 3%);
    border: 1px solid #c3c3c3;
    text-align: center;
    line-height: 2;
    padding: 3% 1%;
}

.service_img_f {
    width: auto;
    height: 55px;
}

.service_images {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.service_img_f {
    position: absolute;
    z-index: 3;
}

.service_img_b {
    position: absolute;
    z-index: 2;
}

.service_line {
    margin: 30px 0;
}

.service_line>h4 {
    font-weight: 500;
    font-size: 18px;
    transition: .8s;
}

.service_line>hr {
    width: 20%;
    transition: 1s;
}

.service_elem:hover .service_img_b {
    animation-name: yellow_rotate;
    animation-duration: 1s;
    /* animation-iteration-count: infinite;*/
    animation-fill-mode: forwards;
}

.service_elem:hover hr {
    width: 30%;
}

.service_elem:hover h4 {
    color: #f5b316;
}


/* from 0%, to 100% */

@keyframes yellow_rotate {
    100% {
        transform: rotate(40deg);
    }
}